<%- include ('partials/_header') %>


<div class="container">
    
    <div class="row mt-5">
        <h3>Bienvenido a MediPage, aqui podras agregar tu informacion como Doctor</h3>
        <h3> por favor ingresa tus datos</h3>
        <div class="col-md-4">
            <div class="card">
            <div class="card-body">
                <form action="/adddoc" method="post">
                    <div class="form-group1">
                        <h4>Nombre: </h4>
                        <input class="form-control" type="text" name="nombre_doctor" placeholder="Nombre" required> 
                        <h4>Apellido: </h4>
                        <input class="form-control" type="text" name="Apellido_doctor" placeholder="Apellido" required>
                        <h4>Especialidad:</h4>
                        <select class="form-control" name="Especialidad" id="lang">
                            <option value="Medicina general">Medicina general</option>
                            <option value="Cardiología">Cardiología</option>
                            <option value="Medicina interna">Medicina interna</option>
                            <option value="Dermatología">Dermatología</option>
                            <option value="Rehabilitación física">Rehabilitación física</option>
                            <option value="Psicología">Psicología</option>
                            <option value="Odontología">Odontología</option>
                            <option value="Radiología">Radiología</option>
                          </select>
                        <h4>Consultorio:</h4>
                        <input type="number" class="form-control" name="consultorio"  min="1" max="30" required>
                        <h4>Correo de contacto:</h4>
                        <input type="email" class="form-control" name="correo_de_contacto"  required>

                        
                    </div>
                    <br></br>
                    <button type="submit" class="btn btn-primary">GUARDAR USUARIO</button>
                </form>
                
                
            </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/_footer') %>