<%- include ('partials/_header') %>
<br></br>
<div class="container" id="BEGIN">
    <h1 class="text-success">BIENVENIDO A MEDIPAGE</h1>
    <p class="lead"> MEDIPAGE es una pagina en la que medicos y usuarios pueden guardar sus datos y generar citas </p>

</div>    

<%- include ('partials/_footer') %>