<%- include ('partials/_header') %>


<div class="container" id="PERSON">
    
    <div class="row mt-5">
        <h3>Bienvenido a MediPage, aqui podras agendar un cita medica</h3>
        <h3> por favor ingresa tus datos</h3>
        <div class="col-md-4">
            <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <h4>Nombre: </h4>
                        <input class="form-control" type="text" name="Nombre" placeholder="Nombre" required> 
                        <h4>Apellido: </h4>
                        <input class="form-control" type="text" name="Apellido" placeholder="Apellido" required>
                        <h4>Cedula de Ciudadania: </h4>
                        <input type="number" class="form-control" name="cedula_usuario"  min="100000" required>
                        <h4>Edad</h4>
                        <input class="form-control" type="number" name="Edad"  min="10" max="100" required>
                        <h4>Numero de contacto:</h4>
                        <input class="form-control" type="number" name="Telefono" placeholder="Telefono" min="1000000000" max="9999999999" required>

                    </div>
                    <br></br>
                    <button type="submit" class="btn btn-primary">GUARDAR USUARIO</button>
                </form>
                
                
            </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/_footer') %>
